/* #region Global Styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}
ul, li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a:hover,
a:focus {
    cursor: pointer;
    color: #404BBF;
}
button:hover,
button:focus {
    background-color: #404BBF;
}
h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
p {
    color: #434455;
}
.section {
    padding: 120px 0;
}
.container {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* #endregion Global Styles */

/* #region header*/
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.contacts-list {
    display: flex;
    gap: 40px;
}
.logo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1667;
    color: #2E2F42;
    letter-spacing: 0.03em;
    margin-left: 0;
    margin-right: 0;
    transition-property: color;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link,
.contacts {
    display: inline-block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link {
    position: relative;
    font-weight: 500;
    color: #2E2F42
}
.contacts {
    font-weight:400;
    color: #434455;
}
.contacts-link:hover,
.contacts:hover {
    color: #404BBF
}
.active {
    color: #404BBF;
}
.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    background-color: #404BBF;
    transition-property: color;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion header */

/* #region Hero Header Section*/

.hero-header {
    background-color: #2E2F42;
    background-image: url(../images/hero-header.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.7)), url(../images/hero-header.jpg);
}
.hero-button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 48px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
    background-color: #404BBF;
}
.hero-header-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
    max-width: 496px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion Hero Header Section */

/* #region Features Section*/

.features-container {
    flex-direction: column;
    align-items: center;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% - 72px) / 4);
    gap: 8px;
}
.feature-img {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}
.icon-feature {
    fill: none;
}
/* #endregion Features Section */

/* #region Team Section */
.team {
    background-color: #F4F4FD;
}
.team-container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    text-align: center;
}
.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 264px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-info {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
}
.team-socials {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;
    transition-property: background-color;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
}
.link-icon:hover,
.link-icon:focus {
    background-color: #404BBF;
}
/* #endregion Team Section */

/* #region Portfolio Section*/
.portfolio-container {
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    
    transition: transform, box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info {
    padding: 32px 16px 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-overlay-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    display: block;
    padding: 40px 32px;
    
    transform: translateY(100%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
    transform: translateY(0);
}
.portfolio-subtitle {
    padding-bottom: 8px;
}

/* #endregion Portfolio Section */

/* #region Footer Section */
.footer-container {
    flex-direction: row;
    gap: 120px;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer .logo {
    color: #F4F4FD;
    margin-bottom: 16px;
    transition-property: color;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.web {
    color: #4D5AE5;
}

.footer .logo:hover,
.footer .logo:focus {
    color: #404BBF;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 264px;
}
.footer-text {
    color: inherit;
}
.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-socials-title {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.footer-socials-links {
    display: flex;
    gap: 16px;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31D0AA;
}   
/* #endregion Footer Section */